<div style=" display: flex; height: 50px; width: 100%; font-weight: medium; padding-bottom: 0px;">
    <h1>Welcome!</h1>
    </div>
<div style="display: flex; height:250px; width: 100%; justify-content: center;">
    <span style="display:flex; width: 50%; font-size: 25px; line-height: 1.5; align-items: center;"> Seja bem-vindo ao meu portfólio! 👋 Aqui você vai encontrar um pouco sobre mim, meus projetos e as tecnologias com as quais trabalho. Estou sempre aprendendo e buscando novos desafios no desenvolvimento full stack. Fique à vontade para explorar e, se quiser bater um papo, meus contatos estão à disposição.</span>
</div>
