<div style=" display: flex; height: 50px; width: 100%; font-weight: medium; padding-bottom: 50px;">
<h1>Meus Projetos</h1>
</div>
<div class="project-container">
    <div mat-button class="project-item" onclick="location.href = 'https://github.com/pedro-oliv/UrnaEletronicaJava'">
        <div style="height: 50%;">
        <img src="/assets/urnajava.png" style="width: 100%; height: 100%; object-fit: fill;">
        </div>
        <div class="project-title">
            Urna Eletronica Java
        </div>
        <div class="project-desc">
            Simulação de urna eletronica utilizando java.
        </div>
    </div>

    <div mat-button class="project-item" onclick="location.href = 'https://github.com/pedro-oliv/UrnaEletronicaJava'">
        <div style="height: 50%;">
        <img src="/assets/sitemovies.png" style="width: 100%; height: 100%; object-fit: fill;">
        </div>
        <div class="project-title">
            Site Filmes
        </div>
        <div class="project-desc">
            Site usando o TMDb API, feito no Angular.
        </div>
    </div>
</div>
