<div style=" display: flex; height: 50px; width: 100%; font-weight: medium; padding-bottom: 0px;">
    <h1>Sobre mim</h1>
    </div>
<div style="display: flex;height: 300px; width: 100%; justify-content: center; align-items: center; ">
    <div class="avatar-container">
        <img src="/assets/minhapessoa.jpg" class="avatar">
    </div>
</div>
<div style="display: flex; height:250px; width: 100%; justify-content: center;">
<span style="width: 50%; font-size: larger; line-height: 1.5;"><span style="font-size: 35px;">Olá!</span> Me chamo <span style="font-size: 35px; font-weight: bold;">Pedro Oliveira</span>, sou estudante de Ciência da Computação e estou trilhando meu caminho para me tornar um desenvolvedor full stack. Trabalho com tecnologias como Java, HTML, CSS, JavaScript, Angular, Node.js e SQL, sempre buscando criar soluções eficientes e bem estruturadas. Se quiser trocar uma ideia sobre tecnologia ou oportunidades, estou disponível no WhatsApp, Instagram e por e-mail. Vamos conversar! 🚀</span>
</div>
<div style="display: flex;height: 502px; width: 100%; justify-content: center; align-items: center; padding-top: 5px; padding-bottom: 5px;">
    <div class="gif-container">
        <img src="/assets/cat-work-in-progress.gif">
    </div>
</div>
